<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartShipment.Settings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmartShipment.Settings.Properties.Settings>
            <setting name="UpsProcessName" serializeAs="String">
                <value>WorldShipTD</value>
            </setting>
            <setting name="UpsExportFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FedexProcessName" serializeAs="String">
                <value>FedEx.Gsm.Cafe.ApplicationEngine.Gui</value>
            </setting>
            <setting name="FedexExportFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaCompany" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaSoapDataEndPoint" serializeAs="String">
                <value>/entity/Default/6.00.001</value>
            </setting>
            <setting name="AcumaticaSoapLoginEndPoint" serializeAs="String">
                <value>/entity/auth/login</value>
            </setting>
            <setting name="AcumaticaBaseUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="GeneralApplicationStartPositionTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GeneralApplicationStartPositionLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AcumaticaDefaultBoxId" serializeAs="String">
                <value />
            </setting>
        </SmartShipment.Settings.Properties.Settings>
    </userSettings>
</configuration>