<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartShipment.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <SmartShipment.UI.Properties.Settings>
            <setting name="UpsProgramFile" serializeAs="String">
                <value />
            </setting>
            <setting name="UpsMappingFile" serializeAs="String">
                <value />
            </setting>
            <setting name="UpsImportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FedexProgramFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FedexMappingFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FedexImportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaServiceTypeRest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AcumaticaSoapGet" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaSoapPut" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaRestGet" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaRestPut" serializeAs="String">
                <value />
            </setting>
            <setting name="AcumaticaServiceTypeSoap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralStartApplicationPositionDockLeft" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeneralStartApplicationPositionDockTop" serializeAs="String">
                <value>False</value>
            </setting>
        </SmartShipment.UI.Properties.Settings>
    </userSettings>
</configuration>
